flake8>=5.0.4, <5.0.5
Django>=4.1, <4.1.1
djangorestframework>=3.14.0, <3.14.1
psycopg2>=2.9.5, <3.0
Pillow>=9.3.0, <9.4
pyheif-pillow-opener>=0.1.0, <0.1.1
djangorestframework-simplejwt>=5.2.2, <5.2.3
redis>=4.4.0, <4.4.1
celery>=5.2.7, <5.3
django-anymail[sendinblue]>=8.6, <8.7
django-cleanup>=6.0.0, <6.1